header.header
    .wrap
        .logo
            a(href=routes.home)
                i.fab.fa-youtube
                |   Youtube
    .nav_bar
        .wrap
            span
                a(href=routes.signUp)
                    i.fas.fa-user-plus
                    |   SIGN UP
            span
                a(href=routes.login)
                    i.fas.fa-sign-in-alt
                    |   LOGIN