button,
input,
textarea {
  border: 1px solid rgba($color: #444, $alpha: 0.4);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  resize: none;
  &:focus {
    outline: none;
  }
}
button,
input[type="submit"] {
  cursor: pointer;
}
form {
  text-align: center;
}
input[type="password"] {
  font-family: sans-serif;
  &::placeholder {
    font-family: "Jeju Gothic", sans-serif;
  }
}
.basic-form {
  margin-top: 30px;
  & * {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: block;
  }
}
.save-button {
  border: 2px solid $hoverGreen;
  background-color: $green;
  &:hover {
    background-color: $hoverGreen;
  }
}
.delete-button {
  border: 2px solid $hoverRed;
  background-color: $red;
  &:hover {
    background-color: $hoverRed;
  }
}
