$blue: rgba(10, 10, 255, 0.6);
$hoverBlue: rgba(10, 10, 255, 0.8);
$green: rgba(10, 255, 10, 0.6);
$hoverGreen: rgba(10, 255, 10, 0.8);
$red: rgba(255, 10, 10, 0.6);
$hoverRed: rgba(255, 10, 10, 0.8);
