extend layouts/main

block content
    .wrap
        .pageTitle=pageTitle
        form.basic-form(action=routes.upload, method="post", enctype="multipart/form-data")
            input(type="file", name="videoFile", accept="video/*", required)
            input(type="text", name="title", required, placeholder="Title")
            textarea(name="description", cols="30", rows="10", placeholder="Description")
            input.save-button(type="submit", value="Upload")