extend layouts/main
include mixin/videoBlock

block content
    .wrap
        .user-info
            .avatar
                if getUser.avatarUrl.indexOf("http") === 0
                    img.avatarImg(src=getUser.avatarUrl, alt="Avatar Image")
                else
                    img.avatarImg(src="/"+getUser.avatarUrl, alt="Avatar Image")
            .name=getUser.name  
        if user
            if String(getUser._id) === String(user._id)
                a(href=routes.users+routes.userEdit(getUser._id))
                    button Edit Profile
        .userVideos
            div=`${getUser.name}'s Videos`
            .wrap.home
                each video in videos
                    +videoBlock({
                        _id: video._id,
                        fileUrl: video.fileUrl,
                        title: video.title,
                        views: video.views,
                        createdAt: video.createdAt,
                        creator: video.creator,
                    })