header {
  padding: 20px 0px;
  background-color: rgba($color: #ccc, $alpha: 0.5);
  .wrap {
    display: grid;
    grid-template-columns: 200px 1fr 350px;
    &:last-child {
      align-items: end;
    }
    vertical-align: middle;
  }
  .logo {
    align-content: center;
    font-size: 30px;
    letter-spacing: -3px;
    i {
      margin-bottom: -2px;
      font-size: 40px;
      color: red;
    }
  }
  .nav_bar {
    text-align: right;
    span {
      margin: 10px;
    }
  }
}
footer {
  padding: 10px 0px;
  margin: 50px 0px;
  text-align: center;
}
