.video-info {
  * {
    margin-top: 10px;
  }
  .title {
    margin: 15px 0px;
    font-size: 26px;
    font-weight: 600;
  }
  .views,
  .createdAt {
    font-size: 16px;
    font-weight: 100;
    color: rgba(100, 100, 100, 0.8);
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
  .creatorName {
    margin-bottom: 20px;
    a {
      color: $blue;
      &:hover {
        color: $hoverBlue;
      }
    }
  }
  .description {
    font-size: 16px;
    white-space: pre-line;
    font-weight: 400;
    max-height: 200px;
    overflow: auto;
  }
}
form.add-comment input {
  width: 400px;
}
.video__comment-list {
  .comment {
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    font-size: 20px;
    border: 1px none black;
    border-radius: 15px 15px 15px 0px;
    background-color: rgb(92, 206, 221);
    word-break: break-all;
  }
  .mycomment {
    border: 1px none black;
    border-radius: 15px 15px 0px 15px;
    background-color: rgb(247, 230, 0);
  }
}
